{% extends "dashboard/base.html" %}
{% load static %}

{% block main %}


<p></p>


<div class="container">
  <form class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>

  <p>
    <br>
  </p>

    <div class="row">
        {% for food in foods %}
        <div class="col-sm-3">
            <div class="card" style="width: 100%; margin-bottom: 20px;">

                {% if food.foodImage %}
                <img src="{{ food.foodImage.url }}" alt="">
                {% else %}
                <img src="{% static 'dashboard/img/food_profile.png' %}" alt="" style="width: 100%;">
                {% endif %}
              
                <div class="card-body">
                  <h5 class="card-title">{{ food.foodName }}</h5>
                  <p class="card-text">{{ food.foodPrice }} THB</p>
                  <a class="btn btn-sm btn-info" href="{% url 'dashboard:editfood' food.foodId %}">Update</a>
                  <a class="btn btn-sm btn-danger" href="{% url 'dashboard:delete' food.foodId %}">Delete</a>

                </div>
              </div>
        </div>
        {% empty %}
        <p>No Food added yet</p>
        {% endfor %}
      </div>
  </div>



{% endblock %}