
{% extends "dashboard/base.html" %}




{% block main %}
{%  include 'dashboard/status.html' %}
<br>

<div class="row">
	<div class="col-md-5">
		<hr>
		<div class="card card-body">


                <form action="{% url 'dashboard:addFood' %}" method="POST">
                    <div class="row">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label for="foodImage" class="form-label">Image: </label>
                            <tr></tr><input  type="file" name="foodImage" accept=".jpg, .png" class="form-control"></tr>
                        </div>

                        <div class="mb-3">
                            <label for="foodName" class="form-label">foodName: </label>
                            <tr><input type="text" name="foodName" class="form-control" id="food-name"></tr>
                        </div>
                        <div class="mb-3">
                            <label for="foodManufactureDate" class="form-label">foodManufactureDate: </label>
                            <tr><input type="datetime" name="foodManufactureDate" class="form-control"></tr>
                        </div>
                        <div class="mb-3">
                            <label for="foodExpirationDate" class="form-label">foodExpirationDate: </label>
                            <tr><input type="datetime" name="foodExpirationDate" class="form-control"></tr>
                        </div>
                        <div class="mb-3">
                            <label for="foodPrice" class="form-label">foodPrice: </label>
                            <tr><input id="food-price" type="number" name="foodPrice" class="form-control"></tr>
                        </div>

                        <div class="mb-3">
                            <label for="foodAvailableDay" class="form-label">foodAvailableDay: </label>
                        </div>
                        <!-- Multiple Secletion -->
                        <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                            <tr><input type="checkbox" name="foodAvailableDay"  value="Sunday">Sunday</tr>
                            <tr><input type="checkbox" name="foodAvailableDay" value="Monday">Monday</tr>
                            <tr><input type="checkbox" name="foodAvailableDay" value="Tursday">Tursday</tr>
                            <tr><input type="checkbox" name="foodAvailableDay" value="Wenesday">Wenesday</tr>
                            <tr><input type="checkbox" name="foodAvailableDay" value="Thursday">Thursday</tr>
                            <tr><input type="checkbox" name="foodAvailableDay" value="Friday">Friday</tr>
                            <tr><input type="checkbox" name="foodAvailableDay" value="Saturday">Saturday</tr>
                        </div>

                        <tr><button type="submit" class="btn btn-primary" id="create-food" disabled>Submit</button></tr>
                        <p></p>

        
                    </div>
                <form>
		</div>
	</div>

	<div class="col-md-7">

    <hr>
    <div class="card card-body">
        
        <table class="table table-sm">
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Upvote</th>
                <th></th>
                <th></th>
            </tr>

                {% for food in foods %}


                <tr>
                    <td>{{ food.foodName }}</td>
                    <td>{{ food.foodPrice }}</td>
                    <td>{{ food.food_related.upVote }}</td>
                    <td><a class="btn btn-sm btn-info" href="{% url 'dashboard:editfood' food.foodId %}">Update</a></td>

                    <td><a class="btn btn-sm btn-danger" href="{% url 'dashboard:delete' food.foodId %}">Delete</a></td>

                </tr>

                {% empty %}
                <p>No Food added yet</p>
                {% endfor %}
                <div></div>
                
                <tr>
                    <td ><a href="{% url 'dashboard:viewallfood' %}" class="btn btn-primary">View All</a></td>
                </tr>
        </table>
        
    </div>
</div>

</div>

<script type="text/javascript">
// food-name
// create-food

let buttonCLick = document.querySelector('#create-food');
let inputP = document.querySelector('#food-price');



inputP.addEventListener('keyup', () =>{

        if(inputP.value.length > 0) {
            buttonCLick.disabled = false

        } else {
            buttonCLick.disabled = true;

    }
})
</script>

{% endblock %}